body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  font-family: Cuprum, Arial, sans-serif;
  background: ul("../technomart-index.png") no-repeat 50% 3px;
}

.container::after {
  display: table;
  clear: both;
  content: '';
}

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.sprite {
    background-image: url("../img/srite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-basket {
    width: 17px;
    height: 16px;
    background-position: -10px -10px;
}

.sprite-icon-check-off {
    width: 23px;
    height: 23px;
    background-position: -81px -10px;
}

.sprite-icon-check-on {
    width: 27px;
    height: 23px;
    background-position: -10px -53px;
}

.sprite-icon-circle-dot {
    width: 25px;
    height: 25px;
    background-position: -57px -53px;
}

.sprite-icon-down-dir {
    width: 11px;
    height: 10px;
    background-position: -102px -53px;
}

.sprite-icon-facebook-copy {
    width: 10px;
    height: 18px;
    background-position: -124px -10px;
}

.sprite-icon-instagramm-copy {
    width: 17px;
    height: 17px;
    background-position: -102px -83px;
}

.sprite-icon-login {
    width: 20px;
    height: 17px;
    background-position: -154px -10px;
}

.sprite-icon-logout {
    width: 21px;
    height: 17px;
    background-position: -139px -48px;
}

.sprite-icon-phone {
    width: 19px;
    height: 19px;
    background-position: -139px -85px;
}

.sprite-icon-search {
    width: 17px;
    height: 17px;
    background-position: -10px -124px;
}

.sprite-icon-user {
    width: 20px;
    height: 18px;
    background-position: -47px -124px;
}

.sprite-icon-vk {
    width: 20px;
    height: 12px;
    background-position: -87px -124px;
}



.wrapper-main-top {
  background-color: #33445a;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.index-logo {
  float: left;
  box-sizing: border-box;
  width: 220px;
  background-color: #ff5357;
  color: white;
 box-shadow: 0 5px 0 rgba(255, 83, 87, 0.24)
}

.logotype {
  display: block;
  padding: 9px 55px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform:uppercase;
  margin: 0px;
}

.scan-form {
  float: left;
  box-sizing: border-box;
  width: 260px;
  margin-right:
}

.menu-top {
  float: right;
  box-sizing: border-box;
  width: 460;
  list-style: none;
  font-size: 0px;
  margin: 0;
  padding: 0;
}

.user-menu{
  display: inline-block;
  vertical-align: top;
  font-size: 0px;
}

.user-menu a {
display: inline-block;
position: relative;
text-decoration: none;
padding: 12px 30px 12px 40px;
font-size: 17px;
line-height: 18px;
color: white;
}
.purchase{
  padding: 12px 30px;
}
.bookmarks::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 14px;
  width: 14px;
  height: 16px;
   background: url("../img/sprite.png") no-repeat;
   background-position: -47px -15px;
   opacity: 0.3;
}

.bookmarks:hover::before {
  opacity: 1;
}

.basket::before {
  content: "";
  position: absolute;
  left: 12px;
  width: 17px;
  height: 16px;
   background: url("../img/sprite.png") no-repeat;
   background-position: -10px -10px;
   opacity: 0.3;
}

.basket:hover::before {
  opacity: 1;
}

.bookmarks:hover,
.basket:hover{
  background-color: #212a3a;
}

.purchase{
background-color: #6db254;
opacity: 0.9;
}

.purchase:hover{
  opacity: 1;
}

.user-menu a:active{
  background-color: #212a3a;
 opacity: 0.5;
}

.wrapper-main-bottom {
  padding-bottom: 60px;
    margin-bottom: 60px;
  background: #f4f7f9;

}

}
.user-block{
margin-bottom: 34px;
  font-size: 0px;
}
.user-block-info{
float: left;
max-width: 200px;
  box-sizing: border-box;
  padding-top: 34px;
  margin-left: 54px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ff5357;
}

.user-block-contacts {
  float: left;
  margin: 47px 70px;
  width: 270px;
 font-size: 0px;
 vertical-align: top;}


.link-contact{
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 58px 10px 75px;
 border: 2px solid white;
 vertical-align: top;
 text-decoration: none;
 font-size: 21px;
 line-height: 17px;
 color: #e9292a;
}

 .address{
 display: inline-block;
 box-sizing: border-box;
 margin-top: 3px;
 padding: 1px 13px;
 vertical-align: top;
 font-weight: bold;
 font-size: 14px;
 line-height: 24px;
 color: #32425c;
}

.unauthorized{
float: right;
margin-top: 55px;
}

.unauthorized-item{
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 0px;
}

.unauthorized-items{
  display: inline-block;
  font-size: 0px;


}
.login,
.new-user{
  display: inline-block;
  vertical-align: top;
 font-size:21px;
 line-height: 18px;
 color:#000000;
 text-decoration: none;
 background: white;
}

.login{
  position: relative;
padding: 8px 25px 8px 48px;
margin-right: 10px;
max-width: 124px;
}

.new-user{
  padding: 8px 20px;
  max-width: 150px;
}

.login::before {
  content: "";
  position: absolute;
  left: 18px;
  top:10px;
  width: 20px;
  height: 17px;
 background: url("../img/sprite.png") no-repeat;
  background-position: -154px -10px;
  opacity: 0.3;
}

.login:hover::before{
  opacity: 1;
}


.login:hover,
.new-user:hover{
  color:#ee3643;
}

.login:active,
.new-user:active{
  color: #000000;
  opacity: 0.3;
}


.authorization{
  float: right;
  width: 300px;
}

.main-list {
  float: left;
  box-sizing: border-box;
  width: 940px;
  background-color: #33445a;
  box-shadow: 0 5px 0 rgba(51, 68, 90, 0.24)
  margin: 0px;
  padding: 0px;
  font-size: 0px;
}



.navigation{
  display: inline-block;
  vertical-align: top;
  font-size: 0px;

}
.main-list a {
  display: inline-block;
  padding: 21px 31px;
  font-size: 17px;
  line-height: 17px;
  vertical-align: top;
  color: white;
  text-decoration: none;
}

.main-list a:hover{
background-color:#293449;
}

.main-list a:active{
  opacity: 0.5;
}

.unauthorized-item {
  display: inline;
}

.navigation {
  display: inline;
}

.features-item {
  float: left;
  position: relative;
  box-sizing: border-box;
  width: 300px;
  min-height: 123px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 24px;
  font-size: 0px;
  background: no-repeat 85% 60%;}

  .features-item .flag{
    position:absolute;
    top:1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}
.features-item .flag-new{
    background:url("../img/newflag.png") no-repeat 0 0;
}

.name-item{
  display: inline-block;
  vertical-align: top;
  color: white;
  font-size: 24px;
  line-height: 30px;
  margin-right: 70px;

}
.link-features{
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  width: 136px;
  vertical-align: top;
  margin-top: 10px;
  padding: 10px 23px;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
}


.link-features:hover {
background: rgba(0, 0, 0, 0.2);
}

.link-features:active {
background: rgba(0, 0, 0, 0.3);
}

.features-item:nth-child(1){
background-color:#ffbf47;
background-image: url("../img/iconmaterial.png");
}

.features-item:nth-child(2){
background-color:#3bbce3;
background-image: url("../img/iconinstrym.png");
}

.features-item:nth-child(3){
background-color:#dc91d8;
background-image: url("../img/icontehnical.png");
}


.features-item:last-child {
  margin-right: 0;
}

.slider-features{
  width: 940px;
  margin-bottom: 53px;
}
  .info-slider2,
  .link-slider1,
  .link-slider2 {
  display: none;
}

.slider1{
  position: relative;
}
.info-slider1{
  position: absolute;
  font-size: 30px;
  line-height: 36px;
  color: white;
}

.slider-name{
  position: absolute;
  top: 30px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: white;
}
.slider-box {
  float: left;
  margin-right: 20px;

}

.features-right {
  font-size: 0px;
}

.feature-item {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  padding-top: 30px;
  padding-left: 24px;
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;
  background: no-repeat 85% 50%;
}

.feature-item:last-child {
  margin-bottom: 0;
  background-color: #8ed78f;
  background-image: url("../img/iconbasket.png");
}

.feature-item:first-child {
  background-color: #ffc047;
  background-image: url("../img/iconcar.png");
}


.populars-product,
.populars-brand {
  box-sizing: border-box;
  width: 940px;
  padding-right: 24px;
  padding-left: 27px;
  font-size: 0px;
  margin-bottom: 20px;
  background-color:#f9f5f0;
}

.banner-product,
.banner-brand {
  float: left;
  max-width: 500px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  color: #3d546e;
  margin-right: 136px;
}

.populars-product .link,
.populars-brand .link {
  float: right;
  box-sizing: border-box;
  width: 260px;
  padding: 8px 56px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 18px;
  margin-top: 20px;
  color: white;
  background-color: #ff5357;
  border-radius: 4%;
}

.populars-brand .link{
    padding: 8px 67px;
}

.catalog-item{
  font-size: 0px;
  width:700px;
}

.product-item{
    position:relative;
    display:inline-block;
    width:215px;
    margin-right:20px;
    margin-bottom:20px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
}

.product-item:nth-child(4n){
    margin-right:0px;
}

.catalog-item{
    font-size:0;
}
..product-item{
    font-size:16px;
}


.product-item .flag{
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}
.product-item .flag-new{
    background:url("../img/newflag.png") no-repeat 0 0;
}

.product-item  .actions{
    position:absolute;
    top:0;
    left:0;
    width:215px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}

.product-item .actions .buy,
.product-item .actions .bookmark{
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315;
    background-color:#63a63e;
    color:white;
font-size:14px;
font-weight:normal;
 font-family: "PT Sans", "Arial", sans-serif;
line-height:18px;
text-decoration:none;
text-transform:uppercase;
border-radius:3px;

}

.product-item .actions .bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}

.product-item .actions{
    display:none;
}
.product-item:hover .actions{
    display:block;
}


.product-item .image{
    width:215px;
    height:168px;
}
.product-item .image img{
    max-width:95%;
}

.product-item .title{
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;
}
.product-item .old-price{
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}

.product-item .main-price{
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}

.product-item .main-price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}

.populars-brand {
  padding-right: 24px;
  padding-left: 23px;
  font-size: 0px;
  margin-bottom: 20px;
}

.brand-block{
  display: flex;
  flex-wrap: wrap;
   align-items: flex-start;
   margin-bottom: 88px;

}
.brand-item{
  display: flex;
  align-items:center;
 justify-content:center;
  max-width:100%;
  margin-right: 17px;
  margin-bottom: 20px;
  width: 220px;
  min-height: 150px;
  border: 1px solid #f4f8fa;
}

.brand-item:hover{
  box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
}

.brand-item:active{
  box-shadow: 0px 4px 10px rgba(41, 52, 73, 0.5);
}


.brand-item:last-child {
  margin-right: 0;
}

.brand-item:nth-child(4) {
  margin-right: 0;
}

.index-content-wrapper {
  background-color:#f4f8fa;
  margin-bottom: 73px;
  padding-top: 60px;
  padding-bottom: 100px;
}

.index-content-top {
  float: left;
  box-sizing: border-box;
  width: 900px;
  font-size: 0px;
}
.banner-content-top{
font-size: 30px;
line-height: 24px;
font-weight: normal;
text-transform: uppercase;
}
.content-top {
  display: inline-block;
  max-width: 360px;
 font-size: 13px;
 line-height: 24px;
  margin-bottom: 32px;
}

.index-content-bottom{

}
.service-menu {
  position: relative;
  float: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 240px;
  margin-right: 80px;
  font-size: 0px;

}

.service-menu::after{
  content: "";
  position: absolute;
  left: 18px;
  top:30px;
  width: 468px;
  height: 261px;
 background: url("../img/Layer118.png") no-repeat;
  background-position: 212px -100px;


}

.service-item{
display: inline-block;
width: 240px;
vertical-align: top;
font-size: 21px;
line-height: 30px;

}

.service-item a{
  display: block;
padding: 13px 140px 13px 10px;
text-decoration: none;
}

.delivery-service-menu{
  font-weight: bold;
  color:#3d546e;
  background-color: white;
}

.guarantee-service-menu,
.credit-service-menu{
  color: white;
  background-color: #3d546e;
  border-bottom: 1px solid #000000;
  font-weight: bold;
}

.service-delivery {
float: left;
position: relative;
width: 300px;
}
.service-delivery::after{
  content: "";
  position: absolute;
  left: 115px;
  top:30px;
  width: 468px;
  height: 261px;
 background: url("../img/car.png") no-repeat;
  background-position: 1px -10px;

}

.banner-service-delivery {
  margin-top: 5px;
  margin-bottom: 28px;
  font-size: 36px;
  font-weight: normal;
  line-height: 24px;
  color: #3d546e;

}

.content-delivery {
  font-size: 13px;
  line-height:24px;
  width: 250px;
  word-spacing: -1px;
}

.service-guarantee,
.service-сredit{
  display: none;
}

.feature-company {
  float: left;
  width: 570px;
  font-size: 0px;
}

.name-feature-company{
  text-transform: uppercase;
  font-size: 30px;
  line-height: 24px;
}

.feature-company .content-top{
  font-size: 13px;
  line-height: 24px;
max-width: 523px;
margin: 0px;
}

.feature-company .content-bottom{
  font-size: 13px;
  line-height: 24px;
max-width: 400px;
}

.feature-company .list-feature{
font-size: 18px;
line-height: 20px;
}

.feature-company .list-feature {
  margin: 0px;
  padding: 0px;
  list-style: none;
margin: 0
    }

.feature-company .item-feature{
      padding-left: 35px;
      padding-bottom: 20px;
      font-weight: bold;
    }

.feature-company .list-feature  .item-feature{
       position: relative;
      }
.feature-company .list-feature  .item-feature:before {
        content:  "____";
        color:#ff5357;
        font-weight: bold;
        position: absolute;
        left:     1px;
        bottom: 27px;
      }

.feature-company a{
  display: inline-block;
  max-width: 220px;
  padding: 4px 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
  color: white;
  text-decoration: none;
  background-color: #ff5357;
  border-radius: 3%;

}

.contakts {
  float: right;
  width: 320px;
    margin-bottom: 85px;
}

.name-contakts{
  text-transform: uppercase;
  font-size: 30px;
  line-height: 24px;
}

.content-contakts{
  max-width: 181px;
  font-size: 13px;
  line-height: 24px;
}

.contakts a{
  display: inline-block;
  max-width: 300px;
  padding: 8px 60px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-decoration: none;
  background-color: #ff5357;
  border-radius: 3%;
  margin-top: 20px;

}

.wrapper-main-footer {
  font-size:
}
.wrapper-main-footer{
  background-color:#3d546e;
}

.index-logo-bottom {
  float: left;
  padding: 10px 0px;
  width: 220px;
  font-size: 30px;
  text-align: center;
  line-height: 30px;
  background-color:#ff5357;
  color: white;
  box-shadow: 0px 5px 0 0  rgba(	0,	0,	0, 0.24);
}

.bottom-main {
  float: right;
  width: 560px;
  margin: 0px;
  padding: 0px;
  font-size: 0px;

}

.bottom-navigation{
  display: inline-block;
  vertical-align: top;
  font-size: 0px;
}

.bottom-navigation a{
  display: inline-block;
  text-align: right;
  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
  padding: 30px 24px;
  text-decoration: none;
  color: white;
}
.bottom-navigation-contacts{
  padding-left: 0px;
}

.bottom-main-contacts {
  float: left;
  width: 350px;

}

.bottom-main-content{
  display: inline-block;
vertical-align: top;
font-size: 16px;
line-height: 18px;
color: white;
padding-right: 30px;
}

.feature-list {
  float: right;
  font-size: 0px;
  padding: 0px;
 margin: 0px;}

.feature-navigation{
display: inline-block;
vertical-align: top;
font-size: 0px;
}

.feature-list a{
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 18px;
  color: white;
  text-decoration: none;
  padding: 0 24px;
}

.footer-copyright-сompany {
  float: left;
  min-height: 46px;
  width: 300px;
  margin-right: 63px;
}

.footer-social {
  float: left;
  width: 150 px;
  margin-right: 70px;
}

.footer-email {
  float: right;
  width: 310px;
}

.footer-feedback-сompany,
.footer-developer {
  display: inline-block;
}

.appointment-form {
  display: none;
}

.breadcrumbs{
 display: inline-block;
 width: 640px;
 margin-bottom: 24px;
}

.name-product-catalog{
 width: 940px;
 margin-bottom: 40px;
}

.breadcrumbs-item{
  display: inline-block;
}

.sidebar {
float: left;
box-sizing: border-box;
width: 220px;
}

.wrapper-filter-product{
  float: right;
  width: 700px;
}

.filter-item{
  display: inline;
}

.sorting{
  display: inline-block;
  margin-right: 100px;

}
.filter-catalog {
display: inline-block;
width: 600px;
margin-bottom:20px;
}

.product-item-catalog{
  display: inline-block;
  width: 218px;
  max-height: 164px;
  margin-right: 0px;
}

 .paginator{
   width: 320px;
   margin-top: 54px;
   margin-bottom: 60px;
 }

 .info-product{
   width: 940px;
   margin-bottom: 56px;
 }
