body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  font-family: Cuprum, Arial, sans-serif;
  background: ul("../technomart-index.png") no-repeat 50% 3px;
}

.container::after {
  display: table;
  clear: both;
  content: '';
}

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.sprite {
  background-image: url("../img/srite.png");
  background-repeat: no-repeat;
  display: block;
}

.wrapper-main-top {
  background-color: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.index-logo {
  float: left;
  width: 220px;
  padding: 0;
  box-sizing: border-box;
  font-size: 0;
  font-weight: normal;
  color: white;
  background-color: #ff5357;
  box-shadow: 0 5px 0 #b52933;
}

.logotype {
  display: inline-block;
  width: 220px;
  padding: 9px 55px;
  margin: 0;
  vertical-align: top;
  box-sizing: border-box;
  color: white;
  word-wrap: break-word;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.logotype:hover{
  background-color: #ca2c37;
  box-shadow: 0 5px 0 #9a212a;
}

.logotype:active{
  background-color: #ba2732;
  box-shadow: 0 5px 0 #8e1e26;
}


.scan {
  position: relative;
  float: left;
  width: 270px;
  height: 29px;
}

.new-search {
  width: 100%;
  padding: 11px 37px 11px 50px;
  border: none;
  top: 10px;
  left: 21px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #293449;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  outline: none;
}

.send {
  position: absolute;
  border: none;
  font-size: 0;
  top: 12px;
  left: 20px;
  background: url("../img/sprite.png");
  width: 17px;
  height: 17px;
  background-position: -109px -34px;
  height: 80%;
  cursor: pointer;
  opacity: 0.3;
}

.new-search::-webkit-input-placeholder {
color: white;
}

.new-search:hover{
  background-color: #212a3a;
opacity: 1;
}

.new-search:hover + .send{
  background-color: #212a3a;
opacity: 1;
}

.new-search:focus{
  background-color: white;
  color: #000000;
}

.new-search:focus + .send{
  width: 17px;
     height: 17px;
     opacity: 1;
     background-position: -5px -111px;
     background-color: white;
}


.menu-top {
  float: right;
  width: 450px;
  box-sizing: border-box;
  list-style: none;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.user-menu {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.bookmarks-menu-top,
.baske-menu-top,
.purchase-menu-top {
  display: inline-block;
  vertical-align: top;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  width: 150px;
  vertical-align: top;
  padding: 12px 20px 12px 45px;
  word-wrap: break-word;
  font-size: 17px;
  line-height: 18px;
  color: white;
}

.purchase-menu-top {
  padding: 12px 0;
  text-align: center;
}

.bookmarks-menu-top::before {
  content: "";
  position: absolute;
  left: 14px;
  top: 13px;
  width: 14px;
  height: 16px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -32px -5px;
  opacity: 0.3;
}

.baske-menu-top::before {
  content: "";
  position: absolute;
  left: 12px;
  width: 17px;
  height: 16px;
  background: url("../img/sprite.png") no-repeat;
 background-position: -5px -5px;
  opacity: 0.3;
}

.baske-menu-top:hover::before,
.bookmarks-menu-top:hover::before {
  opacity: 1;
}

.baske-menu-top:active::before,
.bookmarks-menu-top:active::before {
  opacity: 0.5;
}

.bookmarks-menu-top:hover,
.baske-menu-top:hover {
  background-color: #212a3a;
}

.purchase-menu-top {
  background-color: #63a63e;
  color:#ffffff;
}

.purchase-menu-top:hover {
  background-color: #5fbb2d;
}

.purchase-menu-top:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.bookmarks-menu-top:active,
 .baske-menu-top:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.wrapper-main-bottom {
  padding-bottom: 64px;
  margin-bottom: 60px;
  padding-top: 50px;
  background: #f4f7f9;
}

.user-block {
  font-size: 0;
}

.user-block-info {
  float: left;
  width: 250px;
  padding-left: 52px;
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
  word-wrap: break-word;
  line-height: 23px;
  font-style: italic;
  color: #ff5357;
}

.user-block-contacts {
  float: left;
  margin: 0;
  margin-left: 70px;
  margin-right: 0;
  width: 270px;
  font-size: 0;
  vertical-align: top;
}

.link-contact {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 270px;
  margin-top: -2px;
  box-sizing: border-box;
  padding: 10px 5px 10px 73px;
  word-wrap: break-word;
  border: 2px solid white;
  vertical-align: top;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 21px;
  line-height: 17px;
  color: #e9292a;

}

.link-contact::after {
  content: "";
  position: absolute;
  left: 18px;
  top: 8px;
  width: 19px;
  height: 19px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -110px -5px;
}

.address {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 3px;
  width: 275px;
  word-wrap: break-word;
  padding: 1px 9px;
  vertical-align: top;
  letter-spacing: 0.1px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.unauthorized {
  float: right;
  box-sizing: border-box;
  width: 280px;
  margin: 0;
  padding: 0;
}

.unauthorized-item {
  float: right;
  width: 280px;
  margin: 0;
  padding: 0;
  margin-top: -2px;
  box-sizing: border-box;
  word-wrap: break-word;
  font-size: 0;
  list-style: none;
}

.unauthorized-items {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}

.login,
.new-user {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
  font-size: 21px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  background: white;
}

.login {
  position: relative;
  padding: 11px 25px 11px 42px;
  word-wrap: break-word;
  margin-right: 10px;
  width: 124px;
}

.new-user {
  width: 146px;
  padding: 11px 19px;
  word-wrap: break-word;

}

.login::before {
  content: "";
  position: absolute;
  left: 14px;
  width: 20px;
  height: 17px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -32px -75px;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.login:hover,
.new-user:hover {
  color: #ee3643;
}

.login:active,
.new-user:active {
  color: #000000;
  opacity: 0.3;
}

.main-list {
  float: left;
  box-sizing: border-box;
  width: 940px;
  background-color: #32425c;
  box-shadow: 0 5px 0 #293449;
  margin: 0;
  margin-top: 25px;
  padding: 0;
  padding-left: 20px;
  font-size: 0;
}

.navigation {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  font-size: 0;
  padding: 0;
}

.main-list a {
  display: inline-block;
  padding: 19px 31px;
  text-align: center;
  word-wrap: break-word;
  font-size: 17px;
  line-height: 17px;
  vertical-align: top;
  color: white;
  text-decoration: none;
}

.main-list a:hover {
  background-color: #293449;
}

.main-list a:active {
background-color: #1d2739;
color: rgba(255, 255, 255, 0.5);
}

.unauthorized-item {
  display: inline;
}

.navigation {
  display: inline;
}

.features-item {
  float: left;
  position: relative;
  box-sizing: border-box;
  width: 300px;
  min-height: 123px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 21px;
  padding-left: 25px;
  font-size: 0;
  background: no-repeat 83% 60%;
}

.features-item .flag {
  position: absolute;
  top: 1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.features-item .flag-new {
  background: url("../img/newflag.png") no-repeat 0 0;
}

.name-item {
  display: inline-block;
  vertical-align: top;
  width: 170px;
  word-wrap: break-word;
  color: white;
  font-size: 24px;
  line-height: 30px;
  margin-right: 70px;
}

.link-features {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
  width: 136px;
  margin-top: 12px;
  padding: 12px 23px;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
}

.link-features:hover {
  background: rgba(0, 0, 0, 0.2);
}

.link-features:active {
  background: rgba(0, 0, 0, 0.3);
}

.features-item:nth-child(1) {
  background-color: #ffbf47;
  background-image: url("../img/iconmaterial.png");
}

.features-item:nth-child(2) {
  background-color: #3bbce3;
  background-image: url("../img/iconinstrym.png");
  background-position: 86% 58%;
}

.features-item:nth-child(3) {
  background-color: #dc91d8;
  background-image: url("../img/iconcar.png");
  background-position: 85% 53%;
}

.features-item:last-child {
  margin-right: 0;
}

.slider-features {
  width: 940px;
  margin-bottom: 48px;
}

.info-slider2,
  .link-slider2 {
  display: none;
}

.slider1 {
  position: relative;
}

.slider1::after {
  position: absolute;
  top: 122px;
  right: 21px;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 1.7em;
  height: 1.7em;
  border-right: 0.2em solid #ffffff;
  border-top: 0.2em solid #ffffff;
  transform: rotate(45deg);
  margin-right: 0.5em;
  cursor: pointer;
}

.slider1::before {
  position: absolute;
  top: 122px;
  left: 28px;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 1.7em;
  height: 1.7em;
  border-right: 0.2em solid #ffffff;
  border-top: 0.2em solid #ffffff;
  transform: rotate(-140deg);
  margin-right: 0.5em;
  cursor: pointer;
}

.info-slider1 {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  left: 26px;
  top: 59px;
  color: white;
  letter-spacing: 0.7;
}

.slider-name {
  position: absolute;
  top: 25px;
  left: 24px;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 30px;
  color: white;
  letter-spacing: 0.7px;
}

.link-slider1 {
  position: absolute;
  box-sizing: border-box;
  bottom: 28px;
  left: 25px;
  width: 195px;
  border-radius: 3px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  padding: 9px 43px;
  color: white;
  word-wrap: break-word;
  background-color: #ff5357;
  text-decoration: none;
}

.link-slider1:hover {
  background-color: #ca2c37;
}

.link-slider1:active {
  background-color: #ba2732;
}

.btn-left[type="checkbox"] {
display:none;
}

.btn-left[type="checkbox"] + .left::before {
  content: "";
  position: absolute;
  display: block;
  top: 220px;
  left: 295px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}
  .btn-left[type="checkbox"]:checked + .left::after {
    content: "";
    position: absolute;
    left: 297px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ff5357;
    top:222px;
    cursor: pointer;
  }

  .btn-right[type="checkbox"] {
  display:none;
  }

  .btn-right[type="checkbox"] + .right::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 220px;
    left: 315px;
    cursor: pointer;
  }

    .btn-right[type="checkbox"]:checked + .right::after {
      content: "";
      position: absolute;
      left: 317px;
      top:222px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #ff5357;
      cursor: pointer;
    }

.slider-box {
  float: left;
  box-sizing: border-box;
  width: 620px;
  margin-right: 20px;
}

.features-right {
  font-size: 0;
}

.feature-item {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  padding-top: 22px;
  padding-left: 24px;
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;
  background: no-repeat 83% 56%;
}

.feature-item:last-child {
  margin-bottom: 0;
  background-color: #ffc047;
  background-image: url("../img/icontehnical.png");
  background-position: 86% 53%
}

.feature-item:first-child {
  background-color: #8ed78f;
  background-image: url("../img/iconbasket.png");
  background-position: 81% 53%;
}

.catalog-item {
  width: 700px;
}

.product-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 215px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}

.product-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-page .product-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-page .product-item:nth-child(4n) {
  margin-right: 20px;
}

.catalog-item {
  font-size: 0;
}

.product-item {
  font-size: 16px;
}

.product-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
  opacity: 0;
}

.product-item .flag-new {
  background: url("../img/newflag.png") no-repeat 0 0;
}

.product-item .news {
  opacity: 1;
}

.product-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 215px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}


.actions .bookmark {
  display: block;
  position: relative;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.actions .buy{
  display: block;
  position: relative;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 9px 0;
    border-bottom: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}


.actions .buy::before{
  position: absolute;
  content: "";
  left: 10px;
  background: url("../img/sprite.png");
  width: 17px;
  height: 16px;
  background-position: -5px -5px;
  opacity: 0.3;
}

.actions .buy:hover::before,
.actions .buy:active::before{
  opacity: 1;
}


.product-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.product-item .actions {
  display: none;
}

.product-item:hover .actions {
  display: block;
}

.product-item  .image {
  width: 215px;
  height: 168px;
}

.product-item  .image img {
  max-width: 95%;
}

.product-item .title {
  min-height: 40px;
  padding: 0 20px;
  margin-top: 10px;
  margin-bottom: 9px;
  word-wrap: break-word;
}

.product-item .old-price {
  min-height: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #999;
  text-decoration: line-through;
}

.product-item .main-price {
  position: relative;
  width: 90px;
  margin: 10px auto;
  margin-bottom: 18px;
  padding: 10px 20px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
  cursor: pointer;
}

.product-item .main-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -29px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.user-bloks .actions{
  display: block;
}

.actions:hover .bookmark{
 border:3px solid #32425c;
}

.actions:hover .buy{
background-color: #5fbb2d;
}

.actions:active .bookmark{
border:3px solid #c1c6ce;
}

.actions:active .buy{
background-color: #518534;
}

.populars-product,
.populars-brand {
  box-sizing: border-box;
  width: 940px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 24px;
  padding-left: 27px;
  font-size: 0;
  margin-bottom: 18px;
  background-color: #f9f5f0;
}

.banner-product,
.banner-brand {
  float: left;
  width: 500px;
  font-size: 30px;
  line-height: 30px;
  word-wrap: break-word;
  text-transform: uppercase;
  font-weight: normal;
  color: #3d546e;
  margin: 0;
}

.populars-product .link,
.populars-brand .link {
  float: right;
  width: 450px;
  max-width: 254px;
    padding: 10px 6px;
    margin: 0;
    margin-top: -5px;
  box-sizing: border-box;
  word-wrap: break-word;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 18px;
  color: white;
  background-color: #ff5357;
  border-radius: 3px;
}

.populars-brand .link {
  padding: 8px 67px;
}

.populars-brand {
  padding-right: 24px;
  padding-left: 23px;
  font-size: 0;
  margin-bottom: 20px;
}

.brand-block {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 70px;
}

.brand-item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin-right: 17px;
  margin-bottom: 10px;
  width: 220px;
  height: 150px;
  border: 1px solid #f4f8fa;
}

.brand-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brand-item:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.brand-item:last-child {
  margin-right: 0;
}

.brand-item:nth-child(4) {
  margin-right: 0;
}

.index-content-wrapper {
  background-color: #f4f8fa;
  margin-bottom: 73px;
  padding-top: 68px;
  padding-bottom: 115px;
}

.index-content-top {
  float: left;
  box-sizing: border-box;
  width: 900px;
  font-size: 0;
}

.banner-content-top {
  font-size: 30px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.content-top {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  max-width: 360px;
  vertical-align: top;
  font-size: 13px;
  line-height: 24px;
}

.index-content-bottom {
}

.service-menu {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 240px;
  margin-right: 80px;
  font-size: 0;
}

.service-menu::after {
  content: "";
  position: absolute;
  left: 220px;
  top: -40px;
  width: 20px;
  height: 272px;
  background: url("../img/Layer118.png") no-repeat;
  background-position: 10px 0;
}

.service-item {
  display: inline-block;
  width: 240px;
  vertical-align: top;
  font-size: 21px;
  line-height: 30px;
}

.service-item a {
  display: block;
  padding: 15px 140px 13px 22px;
  text-decoration: none;
  background:#32425c;
  color: white;
  word-wrap: break-word;
  font-weight: bold;
}

.service-item a:hover {
background-color: #293449;
color: white;
}

.service-menu .active{
  margin-top: -6px;
  font-weight: bold;
  color: #32425c;
  background-color: white ;
  word-wrap: break-word;
}

.guarantee-service-menu{
  border-bottom: 1px solid #405069;
}
.credit-service-menu {
  border-top: 1px solid #293449;
}

.service-delivery {
  float: left;
  position: relative;
  width: 300px;
}

.service-delivery::after {
  content: "";
  position: absolute;
  left: 149px;
  top: 14px;
  width: 468px;
  height: 261px;
  background: url("../img/car.png") no-repeat;
  background-position: 1px -10px;
}

.banner-service-delivery {
  width: 230px;
  margin-top: -5px;
  margin-bottom: 28px;
  font-size: 36px;
  line-height: 24px;
  font-weight: normal;
  word-wrap: break-word;
  text-transform: uppercase;
  color: #3d546e;
}

.content-delivery {
  width: 250px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  word-spacing: -1px;
}

.service-guarantee,
.service-сredit {
  display: none;
}

.information-company {
  padding: 0;
  margin-bottom: 88px;
}

.feature-company {
  float: left;
  width: 570px;
  font-size: 0;
}

.name-feature-company {
  text-transform: uppercase;
  word-wrap: break-word;
  padding-bottom: 30px;
  padding-top: 3px;
  font-size: 30px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
}

.feature-company .content-top {
  max-width: 523px;
  margin: 0;
  margin-bottom: 24px;
  font-size: 13px;
  line-height: 24px;
  word-wrap: break-word;
  letter-spacing: 0.6px;
}

.feature-company .content-bottom {
  max-width: 400px;
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
  font-size: 13px;
  line-height: 24px;
  word-wrap: break-word;
  letter-spacing: 0.6px;
}

.feature-company .list-feature {
  font-size: 18px;
  line-height: 20px;
}

.feature-company .list-feature {
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
  list-style: none;
}

.feature-company .item-feature {
  padding-left: 35px;
  padding-bottom: 20px;
  word-wrap: break-word;
  width: 250px;
}

.feature-company .list-feature  .item-feature {
  position: relative;
}

.feature-company .list-feature  .item-feature:before {
  content: "____";
  color: #ff5357;
  position: absolute;
  left: 1px;
  bottom: 27px;
}

.feature-company a {
  display: inline-block;
  max-width: 220px;
  padding: 5px 45px;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
  word-wrap: break-word;
  line-height: 24px;
  color: white;
  background-color: #ff5357;
  border-radius: 3%;
}

.contacts {
  float: right;
  width: 320px;
}

.chart{
margin-left: 20px;
}

.name-contacts {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 20px;
  font-weight: normal;
  text-transform: uppercase;
  word-wrap: break-word;
  font-size: 30px;
  line-height: 24px;
}

.content-contacts {
  max-width: 181px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 24px;
  word-wrap: break-word;
}

.contacts a {
  display: inline-block;
  vertical-align: top;
  max-width: 300px;
  padding: 10px 61px;
  word-wrap: break-word;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-decoration: none;
  background-color: #ff5357;
  border-radius: 3%;
  margin-top: 38px;
  margin-left: 20px;
}

.wrapper-main-footer {
  font-size: 0;
}

.wrapper-main-footer {
  background-color: #3d546e;
}

.index-logo-bottom {
  float: left;
  width: 220px;
  padding: 10px 0;
  font-weight: normal;
  font-size: 30px;
  text-transform: uppercase;
  word-wrap: break-word;
  text-align: center;
  line-height: 30px;
  background-color: #ff5357;
  color: white;
  box-shadow: 0 5px 0 #b52933;
}

.index-logo-bottom:hover,
.index-logo-bottom:active {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 #9a212a;
}

.bottom-main {
  float: right;
  width: 574px;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.bottom-navigation {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}

.bottom-navigation a {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
  padding: 38px 27px 22px 24px;
  text-decoration: none;
  color: white;
}

.bottom-navigation a:hover {
  text-decoration: underline;
}

.bottom-navigation a:active {
  text-decoration: none;
  opacity: 0.5;
}

.bottom-navigation-contacts {
  padding-left: 0;
}

.footer-main-bottom {
  padding-top: 16px;
  margin-bottom: 58px;
}

.bottom-main-contacts {
  float: left;
  width: 350px;
}

.bottom-main-content {
  display: inline-block;
  max-width: 334px;
  margin: 0;
  vertical-align: top;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: white;
  letter-spacing: 0.7px;
}

.feature-list {
  float: right;
  width: 540px;
  font-size: 0;
  padding: 0;
  margin: 0;
}

.feature-navigation {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}

.feature-list a {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 18px;
  color: #ffd180;
  text-decoration: none;
  padding: 0 24px;
}

.feature-list a:hover {
  text-decoration: underline;
}

.feature-list a:active {
  text-decoration: none;
  opacity: 0.5;
}

.wrapper-footer-bottom {
  background-color: #33445b;
  padding-top: 15px;
  padding-bottom: 34px;
  padding-right: 10px;
}

.footer-copyright-сompany {
  float: left;
  box-sizing: border-box;
  width: 300px;
  margin-right: 70px;
}

.footer-copyright-сompany .content {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  word-wrap: break-word;
  margin: 0;
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.footer-copyright-сompany.content-top {
  padding-top: 10px;
}

.footer-copyright-сompany.content-bottom {
  margin: 0;
  padding: 0;
}

.footer-social {
  float: left;
  width: 200px;
  text-align: center;
  margin-right: 70px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.footer-social-item {
  position: relative;
  display: inline-block;
  background-color: #29384a;
  margin-right: 10px;
  width: 42px;
  height: 42px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  -moz-border-radius: 21px;
  -webkit-border-radius: 21px;
  border-radius: 21px;
}

.social-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.social-btn-vk {
  width: 20px;
  height: 12px;
  background: url("../img/sprite.png");
  background-position: -93px -89px;
}

.social-btn-fb {
  width: 10px;
  height: 18px;
  background: url("../img/sprite.png");
  background-position: -89px -25px;
}

.social-btn-inst {
  width: 17px;
  height: 17px;
  background: url("../img/sprite.png");
  background-position: -5px -75px;
}

.footer-social-item:hover,
.footer-social-item:active {
  background-color: #ee3643;
}

.social-btn-vk:hover {
  idth: 20px;
  height: 12px;
  background: #ee3643 url("../img/sprite.png");
  background-position: -93px -89px;
}

.social-btn-fb:hover {
  width: 10px;
  height: 18px;
  background: url("../img/sprite.png");
  background-position: -89px -25px;
}

.social-btn-inst:hover {
  width: 17px;
  height: 17px;
  background: url("../img/sprite.png");
  background-position: -5px -75px;
}

.footer-email {
  float: right;
  width: 310px;
  box-sizing: border-box;
  margin: 0;
  max-width: 310px;
  font-size: 0;
}

.footer-feedback-сompany,
.footer-developer {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
}

.footer-feedback-сompany .content,
.footer-developer .content {
  padding: 0;
  margin: 0;
  color: white;
  word-wrap: break-word;
  width: 140px;
}

.footer-email a {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  max-width: 140px;
  font-size: 16px;
  word-wrap: break-word;
  line-height: 18px;
  vertical-align: top;
  text-decoration: none;
  margin-right: 30px;
  color: #ffda96;
}

.footer-email a:hover {
  text-decoration: underline;
}

.footer-email a:active {
  color: #ee3643;
  text-decoration: none;
}

.breadcrumbs {
  float: left;
  box-sizing: border-box;
  width: 640px;
  margin-bottom: 24px;
  font-size: 0;
}

.icon-home {
  position: absolute;
  background: url("../img/sprite.png");
  top: 8px;
  width: -25px;
  height: 12px;
  margin-right: 30px;
  background-position: -77px -53px;
}

.name-product-catalog {
  float: left;
  box-sizing: border-box;
  width: 940px;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.sidebar {
  float: left;
  box-sizing: border-box;
  width: 220px;
}

.product-item-catalog {
  display: inline-block;
  vertical-align: top;
  width: 218px;
  max-height: 164px;
  margin-right: 0;
}

.paginator {
  float: left;
  font-size: 0;
  width: 320px;
  margin-top: 35px;
  margin-bottom: 60px;
  margin-left: 240px;
}


.paginator a {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000000;
  word-wrap: break-word;
  font-size: 13px;
  line-height: 18px;
  min-width: 38px;
  height: 37px;
  padding: 10px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin-right: 10px;
  text-decoration: none;
}

.paginator .current {
  color:white;
  background-color: #ee3643;
}

.paginator a:hover {
  border: 1px solid #bdc6ca;
}

.paginator a:active {
  border: 1px solid #ee3643;
}

.info-product {
  width: 940px;
  margin-bottom: 70px;
}

body .catalog {
  font-family: "PTSans", "Arial", sans-serif;
}

.catalog .user-block {
  margin-right: 0;
  padding-right: 0;
}

.authorization {
  float: right;
  width: 300px;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.name-users {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 300px;
  font-size: 21px;
  line-height: 18px;
  font-weight: normal;
  background-color: white;
  color: #000000;
  margin: 0;
  margin-top:-2px;
  padding: 10px 63px 10px 50px;
  margin-bottom: 8px;
  border-radius: 3px;
  text-align: center;
}

.name-users:active {
  opacity: 0.3;
}

.name-users::before {
  content: "";
  position: absolute;
  left: 18px;
  top: 10px;
  width: 20px;
  height: 18px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -102px -61px;
  opacity: 0.3;
}

.name-users::after {
  content: "";
  position: absolute;
  left: 266px;
  top: 10px;
  width: 20px;
  height: 17px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -32px -75px;
  opacity: 0.3;
}

.name-users:hover::before,
.name-users:hover::after {
  opacity: 1;
}

.name-users:active::before,
.name-users:active::after {
  opacity: 0.3;
}


.my-orders,
.user-page {
  display: inline-block;
  vertical-align: top;
  width: 107px;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.my-orders {
  position: relative;
  margin-left: 21px;
}

.my-orders:after {
  content: "";
  position: absolute;
  left: 88px;
  top: 8px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.my-orders:hover,
.user-page:hover {
  color: #ee3643;
}

.my-orders:active,
 .user-page:active {
  color: #32425c;
color: rgba(50, 66, 92, 0.3);
}

.catalog .wrapper-main-bottom {
  margin: 0;
}

.breadcrumbs {
  padding: 17px 0;
  margin: 0;
}

.breadcrumbs-list {
  width: 700px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.breadcrumbs-list a {
  display: inline-block;
  padding: 5px 10px;
  vertical-align: top;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 13px;
  word-wrap: break-word;
  text-transform: uppercase;
  font-family: "PTSans", sans-serif;
  line-height: 18px;
  color: #000000;
}

.breadcrumbs-home {
  margin-right: 25px;
}

.breadcrumbs-catalog::after {
  position: relative;
  top: 6px;
  left: 10px;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 0.6em;
  height: 0.6em;
  border-right: 0.1em solid #dadde2;
  border-top: 0.1em solid #dadde2;
  transform: rotate(45deg);
  margin-right: 0.5em;
}

.breadcrumbs-tool::after {
  position: relative;
  top: 6px;
  left: 6px;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 0.6em;
  height: 0.6em;
  border-right: 0.1em solid #dadde2;
  border-top: 0.1em solid #dadde2;
  transform: rotate(45deg);
  margin-right: 0.5em;
}

.icon-home::after {
  position: relative;
  top: 3px;
  left: 27px;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 0.6em;
  height: 0.6em;
  border-right: 0.1em solid #dadde2;
  border-top: 0.1em solid #dadde2;
  transform: rotate(45deg);
  margin-right: 0.5em;
}

.name-product-catalog {
  width: 940px;
  box-sizing: border-box;
  margin: 0;
  padding: 27px 40px 27px 30px;
  background-color: #f2f6f8;
  margin-bottom: 20px;
}

.banner-product-catalog {
  margin: 0;
  padding: 0;
  padding: 2px 0;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  word-wrap: break-word;
}

.name-sidebar {
  float: left;
  box-sizing: border-box;
  width: 220px;
  margin: 0;
  padding: 0;
  padding: 10px 10px 10px 20px;
  margin-bottom: 12px;
  word-wrap: break-word;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
  letter-spacing: 0.7px;
}

.form-title {
  font-size: 17px;
  line-height: 30px;
  width: 220px;
  margin-left: 3px;
  box-sizing: border-box;
  word-wrap: break-word;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.range-filter {
  width: 220px;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 27px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 13px;
  border-radius: 5px;
  background: #f7f3ec;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls .min-price {
  font-size: 17px;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.max-price {
  text-align: right;
}

.min-price {
  text-align: left;
  position: relative;
}

.min-price::after {
  content: "__";
  position: absolute;
  top: 0;
  left: 108px;
  background-position: -5px -38px;
}

.price-controls input {
  box-sizing: border-box;
  font-size: 17px;
  width: 90px;
  padding: 5px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.brand-checbox[type="checkbox"] {
  display: none;
}

.catalog-checkbox {
  list-style: none;
}

.list-checkbox {
  margin: 0;
  padding: 0;
}

.brand-checbox[type="checkbox"] + .brand-marker {
  display: block;
  position: relative;
  margin: 10px 0 18px 0;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 35px;
  cursor: pointer;
  text-align: justify;
}

.brand-checbox[type="checkbox"] + .brand-marker::before {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  border: 2px solid #c1c1c1;
  border-radius: 5px;
  position: absolute;
  top: -5px;
  left: 0;
}

.brand-checbox[type="checkbox"] + .brand-marker:hover::before {
  border: 2px solid #b5b5b5;
}

.brand-checbox[type="checkbox"] + .brand-marker:active::before {
  border: 2px solid #e9e9e9;
}

.brand-checbox[type="checkbox"]:checked + .brand-marker::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
  background-position: -5px -38px;
  opacity: 0.8;
}

.brand-checbox[type="checkbox"]:checked + .brand-marker:hover::after {
  opacity: 1;
}

.brand-checbox[type="checkbox"]:checked + .brand-marker:active::after {
  opacity: 0.3;
}

.brand-fieldset,
.radio-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.brand-fieldset {
  margin-bottom: 15px;
}

.drand-legend,
.radio-legend {
  width: 220px;
  box-sizing: border-box;
  margin: 0;
  padding: 18px 0 7px 0;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  border-top: 1px solid #e5e5e5;
  width: 220px;
  box-sizing: border-box;
  word-wrap: break-word;
}

.field-radio[type="radio"] {
  display: none;
}

.field-radio[type="radio"] + .filed-sign {
  display: block;
  position: relative;
  margin: 10px 0;
  font-size: 15px;
  text-align: justify;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 35px;
  cursor: pointer;
  top: 0;
  left: 0;
}


.field-radio[type="radio"] + .filed-sign::before {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  border: 3px solid #c1c1c1;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: 0;
}

.field-radio[type="radio"] + .filed-sign:hover::before {
  border: 3px solid #b5b5b5;
}

.field-radio[type="radio"] + .filed-sign:active::before {
  border: 3px solid #e9e9e9;
}

.field-radio[type="radio"]:checked + .filed-sign::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  background-position: -42px -38px;
  opacity: 0.8;
  top:-4px;
}

.field-radio[type="radio"]:checked + .filed-sign:hover::after {
  opacity: 1
}

.field-radio[type="radio"]:checked + .filed-sign:active::after {
  opacity: 0.3
}

.btn-transparent {
  display: block;
  margin: 0;
  margin-top: 60px;
  padding: 6px 35px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #c1c1c1;
  cursor: pointer;
}

.wrapper-filter-product {
  float: right;
  width: 700px;
}

.filter-item {
  display: inline;
}

.filter-catalog {
  display: inline-block;
  vertical-align: top;
  width: 600px;
  margin-bottom: 24px;
}

.filter-list {
  box-sizing: border-box;
  background-color: #f7f3ec;
  width: 700px;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 40px;
}

.sorting {
  box-sizing: border-box;
  padding: 8px 5px;
  width: 132px;
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  margin-right: 38px;
  font-size: 13px;
  font-family: "PTSans", sans-serif;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-items,
.name-filter-price {
  display: inline-block;
  box-sizing: border-box;
  word-wrap: break-word;
  font-size: 13px;
  font-family: "PTSans", sans-serif;
  line-height: 18px;
  border-bottom: 1px dotted  #ee3643;
margin: 8px 0 8px 56px;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #bbb8b3;
}

.filter-list .active{
  color: #ee3643;
}


.filter-catalog a:hover {
  color: #000000;
  border-bottom: 1px solid  #ee3643;
}

.filter-catalog{
  position: relative;
}

.icon-bottom{
  position: absolute;
  left: 675px;
  top: 12px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #c6c2bd;
  cursor: pointer;
}

.icon-top{
  position: absolute;
  left: 677px;
  top: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #c6c2bd;
  cursor: pointer;
}


.filter-catalog .icon-bottom:hover{
  border-top: 10px solid #000000;
}

.filter-catalog .icon-bottom:active{
  border-top: 10px solid #ee3643;
}

.filter-catalog  .actives {
  position: absolute;
  left: 643px;
  top: 12px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #ee3643;
  cursor: pointer;
}

.filter-catalog .icon-top:hover{
    border-bottom: 10px solid #000000;
}

.filter-catalog .icon-top:active{
    border-bottom: 10px solid #ee3643;
}

.wrapper-info {
  background-color: #f2f6f8;
  margin: 0;
  padding: 0;
  padding-top: 75px;
}

.info-product .title {
  text-transform: uppercase;
  word-wrap: break-word;
  font-weight: normal;
  font-size: 30px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 30px;
  margin-top: -8px;
  letter-spacing: 0.3px;
}

.info-product .content {
  font-size: 13px;
  line-height: 24px;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

.info-product .contents {
  font-size: 13px;
  line-height: 24px;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
}

/* Всплывающая форма index */
.modal-content {
  position: absolute;

  top: 2520px;
  left: 520px;
  margin-left: -230px;
  width: 620px;
  box-sizing: border-box;
  padding: 45px 80px 50px 80px;
  color: #000000;
  background-color: white;
  border-top: 7px solid #ff5257;
}

.modal-content-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  border: 0.3px solid #ff5257;
  background-color: #ff5257;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.appointment-form .name {
  padding-bottom: 15px;
}

.appointment-form-email .email-name {
  padding-bottom: 15px;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
}

.appointment-form-name,
.appointment-form-email {
  width: 220px;
  box-sizing: border-box;
  display: inline-block;
}

.appointment-form-email {
  margin-bottom: 20px;
}

.appointment-form {
  width: 460px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
}

.appointment-form-name .name {
  display: block;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
}

.appointment-form-email .email-name {
  display: block;
}

.appointment-form-name .user-name {
  width: 100%;
  box-sizing: border-box;
  height: 37px;
  margin-bottom: 10px;
  padding: 2px 15px;
  font-family: "PTSans", sans-serif;
  font-size: 13px;
  border: 1px solid #dee3e4;
  border-radius: 5px;
  vertical-align: middle;
}

.appointment-form-email .email-field {
  width: 100%;
  box-sizing: border-box;
  height: 37px;
  margin-bottom: 10px;
  padding: 2px 15px;
  font-family: "PTSans", sans-serif;
  border: 1px solid #dee3e4;
  border-radius: 5px;
  vertical-align: middle;
}

.appointment-form-name
.appointment-form-email {
  width: 220px;
  display: inline-block;
  vertical-align: top;
}

.appointment-form-name {
  margin-right: 16px;
}

.appointment-form-text .text-name {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
}

.appointment-form-text .field-form {
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  padding-top: 8px;
  height: 113px;
  font-size: 13px;
  font-family: "PTSans", sans-serif;
  border: 1px solid #dee3e4;
  border-radius: 5px;
  vertical-align: middle;
}

.appointment-form-text {
  margin-bottom: 40px;
}

.wrapper-submit {
  width: 620px;
  margin-left: -100px;
  margin-bottom: -100px;
  padding: 37px 0;
  background-color: #f4f4f4;
}

.btn-submit {
  display: block;
  width: 460px;
  box-sizing: border-box;
  margin-left: 100px;
  color: white;
  padding: 8px 0px;
  background: #ff5357;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
}

::-webkit-input-placeholder {
  color: #a9a9a9;
}

/* Всплывающая форма catalog */

.modal-content-catalog {
  display: none;
  position: absolute;
  top: 412px;
  left: 20%;
  ;
  width: 620px;
  box-sizing: border-box;
  padding: 50px 80px;
  color: #000000;
  background-color: white;
  border-top: 7px solid #ff5257;
}

.modal-content-close-catalog {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-content-close-catalog::before,
.modal-content-close-catalog::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  border: 0.3px solid #ff5257;
  background-color: #ff5257;
  border-radius: 1px;
}

.modal-content-close-catalog::before {
  transform: rotate(45deg);
}

.modal-content-close-catalog::after {
  transform: rotate(-45deg);
}

.content-window {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  padding: 40px 30px 30px 120px;
  box-sizing: border-box;
  word-wrap: break-word;
  font-size: 30px;
  line-height: 18px;
}

.content-window::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 1px;
  width: 63px;
  height: 63px;
  background-color: #63a63e;
  border-radius: 50%;
}

.content-window::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 18px;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 28px;
  height: 15px;
  border-right: 0.2em solid white;
  border-top: 0.2em solid white;
  transform: rotate(135deg);
  margin-right: 0.5em;
}

.wrapper-window {
  width: 460px;
  font-size: 0;
  padding: 38px 80px;
  margin-left: -80px;
  background-color: #f1f1f1;
}

.wrapper-window .link {
  width: 220px;
  padding: 8px 58px;
  margin-right: 20px;
  background-color: #ee3643;
  border-radius: 3px;
  color: white;
  word-wrap: break-word;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.wrapper-window .btn {
  width: 220px;
  padding: 8px 48px;
  background-color: white;
  border-radius: 3px;
  color: #000000;
  word-wrap: break-word;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}
